h1 {
    color: brown;
}

* {
    border: solid;
}
 .header{

    background-color:  blue;
    display:flex;
    justify-content: space-between;
   
 }

.grid{
    background-color: red;
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;

}
.footer{
    background-color: green ;
    display: flex;
    justify-content:flex-end;
}
 p,h2{
     text-align: center;
 }